<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dirs" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
      
  <dirs>
    <add key="d:\Patrick\FigLeaf\trunk\!_test\source" value="d:\Patrick\FigLeaf\trunk\!_test\target"/>
  </dirs>

  <appSettings>
    <add key="HasMultipleDirs" value="false"/>
    <add key="ExcludeFigLeafDir" value="true"/>

    <add key="MasterPassword" value="test"/>
    <add key="PasswordRule" value="FileNameNumbersPlusPassword"/>

    <add key="VideoExtensions" value="3gp|avi|flv|m4v|mkv|mov|mp4|mpeg|mpg|mts|wmv"/>
    <add key="ThumbnailSize" value="128"/>

    <add key="DetailedLogging" value="false"/>

    <add key="Culture" value="ru-RU"/>
  </appSettings>
</configuration>