<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceDir" value="d:\Patrick\FigLeaf\trunk\!_test\source"/>
    <add key="TargetDir" value="d:\Patrick\FigLeaf\trunk\!_test\target"/>
    <add key="ExcludeFigLeafDir" value="true"/>

    <add key="MasterPassword" value="test"/>
    <add key="PasswordRule" value="FileNameNumbersPlusPassword"/>

    <add key="VideoExtensions" value="3gp|avi|flv|m4v|mkv|mov|mp4|mpeg|mpg|mts|wmv"/>
    <add key="ThumbnailSize" value="128"/>

    <add key="DetailedLogging" value="false"/>
  </appSettings>
</configuration>